* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.green {
  color: green;
  margin: 10px 0;
}

.red {
  color: red;
  margin: 10px 0;
}

.title {
  margin: 30px;
  font-size: 30px;
}
